 @font-face {
     font-family: 'SEGA LOGO FONT';
     font-style: normal;
     font-weight: normal;
     src: local('SEGA LOGO FONT'), url('/src/Containers/SEGA.woff') format('woff');
 }


h1{
    color: #9EEBCF;
    font-weight: 200;
    font-family: 'SEGA LOGO FONT';
}